<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Shapeworks Studio {{ page.title }}</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-dark.css">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Shapeworks Studio {{ page.title }} </h1>
        <p>Web pages for Shapeworks Studio</p>
        <p class="view"><a href="https://github.com/SCIInstitute/ShapeworksStudio">View the Project on GitHub <small>SCIInstitute/ShapeworksStudio</small></a></p>
        <ul class="git">
          <li><a href="https://github.com/SCIInstitute/ShapeworksStudio">View On <strong>GitHub</strong></a></li>
        </ul>
        <img src="https://sciinstitute.github.io/shapeworks.pages/images/splash.bmp" align="center" hspace="0">
        <p class="nav">
        <ul class="nav">
          <li><a href="index.html"><strong>Main</strong></a></li>
          <li><a href="build.html"><strong>Building</strong></a></li>
          <li><a href="spec.html"><strong>Requirements</strong></a></li>
          <li><a href="manual.html"><strong>Usage Manual</strong></a></li>
        </ul>
        </p>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <p>Project maintained by <a href="https://github.com/SCIInstitute">SCIInstitute</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
  </body>
</html>
